<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<body>
    <h1>ACCOUNTS OVERVIEW</h1><br>

    <h2 th:unless="${name}" th:text="'Login or Register to get started!'"></h2>

    <div th:if="${name}">
    <table class="table table-striped table-hover">
        <tbody>

        <tr th:if="${#lists.isEmpty(accountOverview)}">
            <div th:text="${accountOverviewEmpty}"></div>
            <p></p>
        </tr>

        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Balance</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tr th:each="account : ${accountOverview}">
            <td class="align-middle"><a th:href="@{'/entries/id=' + ${account.account_id}}"><span th:text="${account.account_name}"> Name </span></a></td>
            <td class="align-middle"><span th:text="${account.account_type}"> Type </span></td>
            <td class="align-middle"><div th:if="${account.account_balance}"><span th:text="${#numbers.formatDecimal(account.account_balance,1,'POINT',2,'COMMA')} + ' €'"> Balance </span></div></td>
            <td class="align-middle" align="right">
                <a th:href="@{'/changeAccount/id=' + ${account.account_id}}" class="btn btn-default"><img th:src="@{/images/settings.png}" width="22"></a>
                <a data-toggle="modal" data-target="#deleteAccount" class="btn btn-default delete-entrie" th:data-url="'/accounts/deleteAccount/id=' + ${account.account_id}"><img th:src="@{/images/trash.png}" width="22"></a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <div th:unless="${balance}"><span th:text="'Total accounts balance: ' + ${#numbers.formatDecimal(balance,3,'POINT',2,'COMMA')} + ' €'"></span></div>

    <!-- Modal -->
    <form action="" method="get" id="deleteForm">
        <div class="modal fade delete-entrie" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel" aria-hidden="true" id="deleteAccount">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Account!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this account?
                    <p>All entries will be gone!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    <button type="submit" class="btn btn-primary">Delete account and all entries!</button>
                </div>
            </div>
        </div>
    </div>
    </form>


    <script>
        $(document).ready(function () {
            // For A Delete Record Popup
            $('.delete-entrie').click(function () {
                var url = $(this).attr('data-url');

                $("#deleteForm").attr("action", url);
            });
        });
    </script>
</body>
</html>