<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
    <h1 class="display-3">Welcome to the Budget-App!</h1></br>

    <h2 th:if="${name}" th:text="'Hi ' + ${name} + ', how are you today?'"></h2></br>

    <div th:if="${param.logout}" class="alert alert-success" role= "alert">
            <span><h2>See you soon!</h2></span>
            <span>You are successfully logged out.</span>
    </div>

    <h3>Your finances at a glance:</h3></br>

    <div th:unless="${name}">
        <h2 th:text="'Easily manage your finances from everywhere. Get started today!'"></h2>
    </div>

    <div th:if="${name}" class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="card" style="width: 25rem;height: 25rem;">
                <img th:src="@{/images/wealth.png}" class="card-img-top" style="height: 13rem;" alt="Wealth">
                <div class="card-body"></br>
                    <h5 class="card-title">Your total assets:</h5>
                    <p class="card-text"> <strong><h5> <div th:text="${#numbers.formatDecimal(wealth,1,'POINT',2,'COMMA')} + ' €'"></div></h5></strong> </p>
                    <a href="/accounts" class="btn btn-primary">Account Overview</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card" style="width: 25rem;height: 25rem;">
                <img th:src="@{/images/accounts.png}" class="card-img-top" style="height: 13rem;" alt="Accounts">
                <div class="card-body"></br>
                    <h5 class="card-title">Your number of budget accounts:</h5>
                    <p class="card-text"> <strong> <h5> <div th:text="${account_count}"></div></h5> </strong> </p>
                    <a href="/" class="btn btn-primary">Open new Account</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>